body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  /* background: #edeff0; */
  background: #EDEFF0 url("svgs/background.svg");
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  vertical-align: top;
  margin-left: .5em;
}

a:hover {
  color: #111;
}

#nav svg {
  transition: .2s ease-in-out;
}

#nav svg:hover {
  transform: scale(1.2);
}


header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav ul li path {
  fill: #39ADD1;
}

header nav ul li:hover path {
  fill: #000;
}

header nav ul li:hover a {
  color: #000;
}

.logo {
  width: 140px;
  height: 120px;
  transition: .25s cubic-bezier(0,-0.09,1,1.73);
}

.logo:hover {
  transform: scale(1.2);
}

.logo:hover .st2 {
  fill: pink;
}

.st1 {
  fill: #eaaa7f;
  display: none;
}

.logo-text {
  color: #eaaa7f;
  font-size: 2.5em;
  text-transform: uppercase;
}

.st2 {
  fill: #f4c6a6;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

/* .corgi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  padding-right: 5%;
} */

.corgi-container div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 100px;
  max-width: 200px;
}

.corgi-sable {
  color: #b97f5b;
}

.corgi-fawn {
  color: #e9aa82;
}

.corgi-red {
  color: #834b29;
}

.corgi-stone {
  color: #52595e;
}

.corgi-text {
  color: #eaaa7f;
  text-align: center;
  margin-left: 30%;
  margin-top: 0;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width: 425px) {
  .logo-text {
    display: none;
  }

  .st1 {
    display: inherit;
  }
}

@media (min-width: 815px) {
  .corgi-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 960px;
    padding-right: 5%;
  }

  .corgi-container div {
    padding-right: 0;
  }
}
